<div class="chat-body">
    <div class="chat-header border-bottom py-xl-4 py-md-3 py-2">
        <div class="container-xxl">
            <div class="row align-items-center">

                <div class="col-6 col-xl-4">
                    <div class="media">
                        <div class="avatar me-3">
                            <div class="avatar rounded-circle no-image bg-primary text-light">
                                <span><i class="zmdi zmdi-comment-text"></i></span>
                            </div>
                        </div>
                        <div class="media-body overflow-hidden">
                            <div class="d-flex align-items-center mb-1">
                                <h6 class="text-truncate mb-0 me-auto">Support ChatBot</h6>
                            </div>
                            <div class="text-truncate"><i class="zmdi zmdi-circle text-success"></i> Online</div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-xl-8 text-end">
                </div>
            </div>
        </div>
    </div>

    <div class="chat-content container-xxl">
        <div class="ui text loader">Loading messages...</div>
        {% include 'chat/_messages.html' %}
    </div>

    <div class="chat-footer border-top py-xl-4 py-lg-2 py-2">
        <div class="container-xxl">
            {% if current_user.is_authenticated %}
                <div class="row col-12 align-items-start">
                <span class="input-group-text border-0">
                <button class="btn btn-sm btn-link text-muted" data-toggle="tooltip" title="" type="button"
                        data-original-title="Refresh">
                    <i class="zmdi zmdi-refresh font-22"></i>
                </button>
                </span>
                </div>
                <div class="row col-12 align-items-start">
                <textarea class="form-control" placeholder="Type your message..." id="message-textarea"
                          rows="3"></textarea>
                </div>
            {% else %}
                <div class="ui floating message">Please <a href="{{ url_for('auth.login') }}">Sign in</a> or
                    <a href="{{ url_for('auth.register') }}">Sign up</a> to send message.
                </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
