<div class="chat-body">
    <div class="chat-header border-bottom py-xl-4 py-md-3 py-2">
        <div class="container-xxl">
            <div class="row align-items-center">

                <div class="col-6 col-xl-4">
                    <div class="media">
                        <div class="avatar mx-3">
                            <div class="avatar rounded-circle no-image bg-primary text-light">
                                <span></span>
                            </div>
                        </div>
                        <div class="media-body overflow-hidden">
                            <div class="d-flex align-items-center mb-1">
                                <h6 class="h5 text-truncate mb-0 me-auto" id="chat-title" , aria-label="chat">chat</h6>
                            </div>
                            <div class="text-truncate" id="chat-about"></div>

                        </div>
                    </div>
                </div>
                <div class="col-6 col-xl-8 text-end">
                </div>
            </div>
        </div>
    </div>

    <div class="chat-content container-xxl">
        {% include 'chat/_messages.html' %}
    </div>

    <div class="chat-footer border-top py-xl-4 py-2">
        <div class="container-xxl">
            {% if current_user.is_authenticated %}
                <div class="row col-12 align-items-start">
                <span class="input-group-text border-0">
                <button class="btn btn-sm btn-link text-muted" data-toggle="tooltip" title="" type="button"
                        data-original-title="Refresh">
                    <i class="zmdi zmdi-refresh font-22"></i>
                </button>
                </span>
                </div>
                <div class="row align-items-start mt-2">
                    <div class="col-10"><textarea class="form-control" placeholder="Type your message..."
                                                  id="message-textarea"
                                                  rows="4"></textarea></div>
                    <div class="col-2">
                        <div class="row my-2">
                            <button class="btn btn-primary " title="" id="emitbtn" type="button">发送消息</button>
                        </div>
                        <div class="row my-2">
                            <button class="btn btn-light" title="" id="leavebtn" type="button">离开聊天</button>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="ui floating message mt-2">Please <a href="{{ url_for('auth.login') }}">Sign in</a> or
                    <a href="{{ url_for('auth.register') }}">Regisger</a> to send message.
                </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
