<div class="popOut ani" style="display: none;">
    <span title="close" id="close-pop"> [x] </span>
    <div class="row h-100 justify-content-center align-items-center">

        <div class="form-group required"><label class="form-control-label" for="room">Room:</label>
            <input class="form-control" id="room" name="room" required="" type="text" value="">
        </div>
        <input class="btn btn-primary btn-md ml-3" id="submit" name="submit" type="submit" value="Enter Chatroom">

    </div>
</div>


{#    <div class="container h-100">#}
{#        <div class="row h-100 page-header justify-content-center align-items-center">#}
{#            <h1>Enter the Group Name you want to join.</h1>#}
{#        </div>#}
{#        <div class="row h-100 justify-content-center align-items-center">#}
{#            {{ render_form(form,method="post") }}#}
{#        </div>#}
{#    </div>#}
