<div class="tab-content">

    <div class="tab-pane fade show active" id="nav-tab-chat" role="tabpanel">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Users
              </label>
              <label class="btn btn-outline-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Rooms
              </label>
            </div>
            <div>
                <button class="btn btn-primary" type="button">New Room</button>
            </div>
        </div>
        <ul class="chat-list mb-4">
            <li class="Justify-content-between">
                <h4 class="h5">Onlion User: <span id="onlion-user">100</span> </h4>
            </li>
            <li class="active">
                <a href="bot-chat.html" class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar me-3">
                                <div class="avatar rounded-circle no-image bg-primary text-light">
                                    <span><i class="zmdi zmdi-comment-text"></i></span>
                                </div>
                            </div>
                            <div class="media-body overflow-hidden">
                                <div class="d-flex align-items-center mb-1">
                                    <h6 class="text-truncate mb-0 me-auto">Name</h6>
                                </div>
                                <div class="text-truncate">
                                    <i class="zmdi zmdi-circle text-success"></i>
                                    AboutAboutAboutAboutAboutAboutAboutAboutAbout
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="active">
                <a href="bot-chat.html" class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar me-3">
                                <div class="avatar rounded-circle no-image bg-primary text-light">
                                    <span><i class="zmdi zmdi-comment-text"></i></span>
                                </div>
                            </div>
                            <div class="media-body overflow-hidden">
                                <div class="d-flex align-items-center mb-1">
                                    <h6 class="text-truncate mb-0 me-auto">Name</h6>
                                </div>
                                <div class="text-truncate">
                                    <i class="zmdi zmdi-circle text-success"></i> About
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="active">
                <a href="bot-chat.html" class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar me-3">
                                <div class="avatar rounded-circle no-image bg-primary text-light">
                                    <span><i class="zmdi zmdi-comment-text"></i></span>
                                </div>
                            </div>
                            <div class="media-body overflow-hidden">
                                <div class="d-flex align-items-center mb-1">
                                    <h6 class="text-truncate mb-0 me-auto">Name</h6>
                                </div>
                                <div class="text-truncate">
                                    <i class="zmdi zmdi-circle text-success"></i> About
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="active">
                <a href="bot-chat.html" class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar me-3">
                                <div class="avatar rounded-circle no-image bg-primary text-light">
                                    <span><i class="zmdi zmdi-comment-text"></i></span>
                                </div>
                            </div>
                            <div class="media-body overflow-hidden">
                                <div class="d-flex align-items-center mb-1">
                                    <h6 class="text-truncate mb-0 me-auto">Name</h6>
                                </div>
                                <div class="text-truncate">
                                    <i class="zmdi zmdi-circle text-success"></i> About
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="active">
                <a href="bot-chat.html" class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar me-3">
                                <div class="avatar rounded-circle no-image bg-primary text-light">
                                    <span><i class="zmdi zmdi-comment-text"></i></span>
                                </div>
                            </div>
                            <div class="media-body overflow-hidden">
                                <div class="d-flex align-items-center mb-1">
                                    <h6 class="text-truncate mb-0 me-auto">Name</h6>
                                </div>
                                <div class="text-truncate">
                                    <i class="zmdi zmdi-circle text-success"></i> About
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="active">
                <a href="bot-chat.html" class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar me-3">
                                <div class="avatar rounded-circle no-image bg-primary text-light">
                                    <span><i class="zmdi zmdi-comment-text"></i></span>
                                </div>
                            </div>
                            <div class="media-body overflow-hidden">
                                <div class="d-flex align-items-center mb-1">
                                    <h6 class="text-truncate mb-0 me-auto">Name</h6>
                                </div>
                                <div class="text-truncate">
                                    <i class="zmdi zmdi-circle text-success"></i> About
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="active">
                <a href="bot-chat.html" class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar me-3">
                                <div class="avatar rounded-circle no-image bg-primary text-light">
                                    <span><i class="zmdi zmdi-comment-text"></i></span>
                                </div>
                            </div>
                            <div class="media-body overflow-hidden">
                                <div class="d-flex align-items-center mb-1">
                                    <h6 class="text-truncate mb-0 me-auto">Name</h6>
                                </div>
                                <div class="text-truncate">
                                    <i class="zmdi zmdi-circle text-success"></i> About
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="active">
                <a href="bot-chat.html" class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar me-3">
                                <div class="avatar rounded-circle no-image bg-primary text-light">
                                    <span><i class="zmdi zmdi-comment-text"></i></span>
                                </div>
                            </div>
                            <div class="media-body overflow-hidden">
                                <div class="d-flex align-items-center mb-1">
                                    <h6 class="text-truncate mb-0 me-auto">Name</h6>
                                </div>
                                <div class="text-truncate">
                                    <i class="zmdi zmdi-circle text-success"></i> About
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="active">
                <a href="bot-chat.html" class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar me-3">
                                <div class="avatar rounded-circle no-image bg-primary text-light">
                                    <span><i class="zmdi zmdi-comment-text"></i></span>
                                </div>
                            </div>
                            <div class="media-body overflow-hidden">
                                <div class="d-flex align-items-center mb-1">
                                    <h6 class="text-truncate mb-0 me-auto">Name</h6>
                                </div>
                                <div class="text-truncate">
                                    <i class="zmdi zmdi-circle text-success"></i> About
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

        </ul>


    </div>

    <div class="tab-pane fade" id="nav-tab-pages" role="tabpanel">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="mb-0 text-primary">Pages</h3>
        </div>

        <div class="card border-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-0 mt-3">
                    <a class="link" href="signin.html"><i class="zmdi zmdi-label-alt me-2"></i> Sign in</a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link" href="signup.html"><i class="zmdi zmdi-label-alt me-2"></i> Sign up</a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link" href="password-reset.html"><i class="zmdi zmdi-label-alt me-2"></i> Reset
                        Password</a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link" href="settings.html"><i class="zmdi zmdi-label-alt me-2"></i> Settings</a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link" href="single-chat.html"><i class="zmdi zmdi-label-alt me-2"></i> Single Chat
                        Room</a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link" href="group-chat.html"><i class="zmdi zmdi-label-alt me-2"></i> Group Chat Room</a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link" href="audio-call.html"><i class="zmdi zmdi-label-alt me-2"></i> Audio Call Room</a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link" href="video-call.html"><i class="zmdi zmdi-label-alt me-2"></i> Video Call Room</a>
                </li>
                <li class="list-group-item mb-3">
                    <a class="link" href="../doc/index.html"><i class="zmdi zmdi-label-alt me-2"></i> Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</div>