<div class="btn-toolbar justify-content-between" role="toolbar">
    <div class="btn-group mr-2 btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> 好友
        </label>
        <label class="btn btn-outline-primary">
            <input type="radio" name="options" id="option2" autocomplete="off"> 群
        </label>
    </div>
    <div class="btn-group mr-1" role="group">
        <button class="btn btn-outline-primary" type="button">
            添加好友
        </button>
    </div>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">好友</a>
    <div class="list-group-item">
        A
    </div>
    <div class="list-group-item">
        B
    </div>
    <div class="list-group-item">
        C
    </div>
    <div class="list-group-item">
        D
    </div>
</div>

