<div class="chat-body">

    <div class="chat-header border-bottom py-xl-4 py-md-3 py-2">
        <div class="container-xxl">
            <div class="row align-items-center">

                <div class="col-6 col-xl-4">
                    <div class="media">
                        <div class="avatar me-3">
                            <div class="avatar rounded-circle no-image bg-primary text-light">
                                <span><i class="zmdi zmdi-comment-text"></i></span>
                            </div>
                        </div>
                        <div class="media-body overflow-hidden">
                            <div class="d-flex align-items-center mb-1">
                                <h6 class="text-truncate mb-0 me-auto">Support ChatBot</h6>
                            </div>
                            <div class="text-truncate"><i class="zmdi zmdi-circle text-success"></i> Online</div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-xl-8 text-end">
                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="chat-search-div">
        <div class="container-xxl py-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Find messages in current conversation">
                <div class="input-group-append">
                    <span class="input-group-text text-muted">0 / 0</span>
                </div>
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary">Search</button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right shadow border-0">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-content">
        <div class="container-xxl">
            <ul class="list-unstyled py-4">

                <li class="d-flex message">

                    <div class="mr-lg-3 me-2">
                        <div class="avatar sm rounded-circle bg-primary d-flex align-items-center justify-content-center">
                            <span><i class="zmdi zmdi-comment-text text-light"></i></span>
                        </div>
                    </div>

                    <div class="message-body">

                        <div class="message-row d-flex align-items-center">
                            <div class="message-content p-3">
                                🙌 Welcome back!<br>
                                How may I help you today? 🤖
                            </div>
                        </div>

                        <div class="message-row d-flex align-items-center">
                            <div class="message-content p-3">
                                👋 Hi​! I'm a Bot.<br> Let me know if you have any questions regarding our tool!
                            </div>
                        </div>

                        <div class="message-row d-flex align-items-center">
                            <div class="message-content p-3">
                                Select the topic or write your question below.
                            </div>
                        </div>

                        <div class="message-row d-flex align-items-center">
                            <button type="button" class="btn btn-outline-primary btn-rounded mb-1 me-1">Services
                            </button>
                            <button type="button" class="btn btn-outline-dark btn-rounded mb-1 me-1">Solutions
                            </button>
                            <button type="button" class="btn btn-outline-warning btn-rounded mb-1 me-1">Book a
                                call
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-rounded mb-1 me-1">Leave a
                                message
                            </button>
                        </div>

                        <div class="message-row d-flex align-items-center">
                            <div class="message-content p-3">
                                Select the topic or write your question below.
                            </div>
                        </div>

                        <div class="message-row d-flex align-items-center">
                            <div class="message-content p-3">
                                Select the topic or write your question below.
                            </div>
                        </div>

                        <div class="message-row d-flex align-items-center">
                            <div class="message-content p-3">
                                Select the topic or write your question below.
                            </div>
                        </div>

                        <div class="message-row d-flex align-items-center">
                            <div class="message-content p-3">
                                Select the topic or write your question below.
                            </div>
                        </div>

                        <div class="message-row d-flex align-items-center">
                            <div class="message-content p-3">
                                Select the topic or write your question below.
                            </div>
                        </div>

                        <div class="message-row d-flex align-items-center">
                            <div class="message-content p-3">
                                Select the topic or write your question below.
                            </div>
                        </div>
                    </div>
                </li>

                <li class="d-flex message">

                    <div class="mr-lg-3 me-2">
                        <div class="avatar sm rounded-circle bg-primary d-flex align-items-center justify-content-center">
                            <span><i class="zmdi zmdi-comment-text text-light"></i></span>
                        </div>
                    </div>

                    <div class="message-body">

                        <div class="message-row d-flex align-items-center">
                            <div class="card rounded-3">
                                <div class="card-body">
                                    <h5 class="card-title">Try it yourself!</h5>
                                    <p class="card-text">Try ChatBot for free for 14 days before you buy it. No
                                        credit card required!</p>
                                </div>
                                <div class="card-body">
                                    <a href="signup.html" class="card-link">✨ Sign up now!</a>
                                    <a href="index.html" class="card-link">👈 Go to menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="chat-footer border-top py-xl-4 py-lg-2 py-2">
        <div class="container-xxl">
            <div class="row col-12 align-items-start">
                <span class="input-group-text border-0">
                <button class="btn btn-sm btn-link text-muted" data-toggle="tooltip" title="" type="button"
                        data-original-title="Refresh">
                    <i class="zmdi zmdi-refresh font-22"></i>
                </button>
                </span>
            </div>
            <div class="row col-12 align-items-start">
                <textarea class="form-control" placeholder="Type your message..." id="message-textarea"
                          rows="3"></textarea>
            </div>
        </div>
    </div>
</div>
</div>
