{% extends 'base.html' %}
{% block title %}
    SocketIO Chat
{% endblock %}
{% block main %}
    <div class="layout">
        <div class="sidebar py-xl-4 py-3 px-xl-4 px-3">
            {% include 'chat/_sidebar.html' %}
        </div>
        <div class="main px-xl-5 px-lg-4 px-3">
            {% include 'chat/_chatbody.html' %}
        </div>
    </div>
    {% include "chat/_join_room.html" %}

{% endblock %}
{% block scripts %}
    {{ super() }}
{# <script type="text/javascript" src="{{ url_for('static',filename='js/socket.io.min.js') }}"></script> #}
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/adapterjs/0.15.5/adapter.min.js"></script>
    {{ moment.include_moment(local_js="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js") }}
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/socket.js') }}"></script>
{% endblock %}
{%  block footer_ %}{% endblock %}
