{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %}
    <title>Choose Group</title>
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>Enter the Group Name you want to join.</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form,method="post") }}
        </div>
    </div>
{% endblock %}